@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Hoşgeldiniz!</p>
    <a class="btn btn-primary btn-lg" href="/Home/AddPatient" role="button">Yeni Hasta Ekle</a>
    <a class="btn btn-secondary btn-lg" href="/Home/PatientList" role="button">Hasta Listesi</a>
</div>
